---
const PAGE_TITLE = "Resume  ";
import BaseLayout from "@/layouts/base-layout.astro";
import Text from "@/components/text.astro";
const pdfUrl = "/resume.pdf";
---

<BaseLayout title={PAGE_TITLE}>
  <div class="max-w-screen-sm mx-auto py-8 sm:py-12">
    <Text variant="h1" class="text-stone-100 pb-4">
      {PAGE_TITLE}
    </Text>
    <div class="flex justify-end gap-2 pb-4">
      <button
        class="no-underline flex items-center gap-2 text-stone-100 py-2 px-3 rounded-lg transition hover:bg-stone-800 border-2"
        id="resume-download-button"
      >
        Download
      </button>
    </div>
    <embed
      src={pdfUrl}
      type="application/pdf"
      title="Resume"
      class="w-full h-screen"
    />
  </div>
</BaseLayout>

<script>
  const pdfUrl = "/resume.pdf";
  const downloadButton = document.getElementById("resume-download-button");
  if (downloadButton) {
    downloadButton.addEventListener("click", downloadResume);
  }
  function downloadResume() {
    const link = document.createElement("a");
    link.href = pdfUrl;
    link.download = "Amit Prakash Resume.pdf";
    document.body.appendChild(link);
    link.click();
    document.body.removeChild(link);
  }
</script>
