---
const PAGE_TITLE = "Resume  ";
import BaseLayout from "@/layouts/base-layout.astro";
import Text from "@/components/text.astro";
---

<BaseLayout title={PAGE_TITLE}>
  <div class="max-w-screen-sm mx-auto py-8 sm:py-12">
    <Text variant="h1" class="text-stone-100 pb-4">
      {PAGE_TITLE}
    </Text>

<Text variant="p" class="text-stone-300 leading-relaxed">
      This page is Under-Construction 😉
    </Text>
   
<img src="https://www.appdev360.com/wp-content/uploads/2021/02/gif-app-development.gif" alt="A photo of me" />
   

   
  </div>
</BaseLayout>

