---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/base-layout.astro";
import "../styles/global.css";
import type { TWork } from "../types/work.type";

import Link from "@/components/link.astro";
import Text from "@/components/text.astro";

const posts = await getCollection("posts");
const totalPages = Math.ceil(posts.length / 3);
const companies = [
  {
    name: "HCL",
    logo: "/hcl-logo.png",
    designation: "Software Engineer",
    duration: "2015-2018",
    id: 1,
  },
  {
    name: "Siemens AG",
    logo: "/siemens-logo.png",
    designation: "Senior Software Engineer ",
    duration: "2018-2019",
    id: 2,
  },
  {
    name: "KPMG",
    logo: "/kpmg-logo.png",
    designation: "Software Development Consultant",
    duration: "2019-2020",
    id: 3,
  },
  {
    name: "EY",
    logo: "/ey-logo.png",
    designation: "Senior Security Consultant",
    duration: "2020-2021",
    id: 4,
  },
  {
    name: "Boeing",
    logo: "/boeing-logo.png",
    designation: "Senior Software Engineer",
    duration: "2021- Present",
    id: 5,
  },
  {
    name: "",
    logo: "",
    designation: "",
    duration: "",
    id: 6,
  },
];

const currentCompany = "The Boeing Company";
const currentCompanyLink = "https://www.boeing.com/";

const workDetails: TWork[] = [
  {
    company: "Boeing",
    role: "Senior Software Developer 2",
    description:
      "Responsible for developing stable and scalable micro service. The system has a set of unique challenges from a domain and technology perspective.",
    isOnGoing: true,
    duration: {
      from: "2022-06-01",
      to: "",
    },
  },
];
---

<BaseLayout>
  <div class="py-8 text-stone-300">
    <Text variant="h1" class="pb-4 text-3xl font-bold text-stone-100">
      Amit Prakash
    </Text>

    <Text class="pb-10">
      Hey, I am Amit Prakash, I build software for the world.
    </Text>

    <Text>
      Working at <Link to={currentCompanyLink}>{currentCompany}</Link>.
    </Text>

    <Text>
      Lorem ipsum dolor sit amet consectetur. At semper aliquam elit urna at sem
      facilisi eu tortor.
    </Text>

    <Text>
      Molestie ullamcorper fermentum ac <Link to="#">pharetra</Link>. Neque a
      porta vitae morbi odio egestas lectus. Felis nibh id sed congue in proin
      hendrerit urna maecenas.
    </Text>
  </div>
</BaseLayout>
