---
import CopyIcon from "@/icons/copy-icon.astro";
import MailIcon from "@/icons/mail.astro";

import Text from "@/components/text.astro";
import CopiedTextIcon from "@/icons/copied-text-icon.astro";
import { cn } from "@/utils/classname";

const contactEmail = "contact@amitprakash.me";
---

<div
  id="copy-button-container"
  data-linkcopied="false"
  class="text-stone-300 flex items-center bg-stone-900 pl-4 pr-2 rounded-full py-2 gap-3 max-w-80 mx-auto group"
>
  <MailIcon class="w-4 h-4" />

  <Text variant="span" class="uppercase flex-1">{contactEmail}</Text>

  <div class="relative">
    <div
      class={cn(
        "absolute bottom-10 -left-1/2 transition-all",
        "group-data-[linkcopied=false]:opacity-0",
        "group-data-[linkcopied=true]:opacity-100 group-data-[linkcopied=true]:bottom-12"
      )}
    >
      <CopiedTextIcon class="w-16 h-4" />
    </div>

    <button
      id="copy-button"
      class="p-2 roudned-full bg-stone-800 shadow rounded-full"
    >
      <CopyIcon class="w-4 h-4" />
    </button>
  </div>
</div>

<script>
  const copyButton = document.getElementById("copy-button");
  const copyButtonContainer = document.getElementById("copy-button-container");

  if (copyButton && copyButtonContainer) {
    copyButton.addEventListener("click", () => {
      console.log(copyButtonContainer.dataset);

      navigator.clipboard.writeText("contact@amitprakash.me");
      copyButtonContainer.dataset.linkcopied = "true";

      setTimeout(() => {
        copyButtonContainer.dataset.linkcopied = "false";
      }, 1500);
    });
  }
</script>
