---
import { Image } from "astro:assets";

import NavLink from "./nav-link.astro";
import IconLink from "./homepage-header-icon.astro";

import LinkedInIcon from "../icons/linked-icon.astro";
import XIcon from "../icons/x-icon.astro";
import GithubIcon from "../icons/github-icon.astro";

const USER_NAME = "Amit Prakash";
const headline =
  "Backend Development Expert | Crafting Robust & Scalable Solutions.";
---

<header>
  <nav class="-ml-2">
    <ul class="flex text-stone-300 pt-8 pb-2">
      <li>
        <NavLink to="/">home</NavLink>
      </li>
      <li>
        <NavLink to="/blog">blog</NavLink>
      </li>
      <li>
        <NavLink to="/projects">projects</NavLink>
      </li>
    </ul>
  </nav>
</header>
