---
import { cn } from "@/utils/classname";

type Props = {
  to: string;
  class?: string;
};

// need to spred props as using classs directly in Astro will cause a type error
const { to, ...props } = Astro.props;
---

<a
  href={to}
  class={cn("underline underline-offset-4 text-stone-100", props.class)}
>
  <slot />
</a>
