---
const PAGE_TITLE = "Projects ";
import BaseLayout from "@/layouts/base-layout.astro";
import Text from "@/components/text.astro";
---

<BaseLayout title={PAGE_TITLE}>
  <div class="max-w-screen-sm mx-auto py-8 sm:py-12">
    <Text variant="h1" class="text-stone-100 pb-4">
      {PAGE_TITLE}
    </Text>

<Text variant="p" class="text-stone-300 leading-relaxed">
      This page is Under-Construction 😉😉😉
    </Text>
   
<img src="https://i.pinimg.com/originals/ce/d2/d0/ced2d0cc1832708a6a1ee95df0e285a1.gif" alt="A photo of me" />
   

   
  </div>
</BaseLayout>

