---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import dayjs from "dayjs";

import "../styles/global.css";
import BaseLayout from "./base-layout.astro";
import Text from "@/components/text.astro";
import SocialLinks from "@/components/social-links.astro";
import ArrowBackwardIcon from "@/icons/arrow-backward-icon.astro";
type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
---

<BaseLayout title={post.data.title} class="max-w-screen-md">
  <div class="py-6">
    <a
      class="text-white bg-transparent text-gray-800 font-bold py-2 px-1 rounded inline-flex items-center"
      href="/blog"
    >
      <ArrowBackwardIcon/>
    </a>
    <div class="pb-6">
      <Text variant="h1" class="pb-2 text-stone-100 sm:text-4xl">
        {post.data.title}
      </Text>

      <div class="flex items-center gap-2">
        <Text variant="span" class="text-stone-400">
          {dayjs(post.data.pubDate).format("MMM DD YYYY")}
        </Text>

        <div class="w-1 h-1 rounded-full bg-stone-500"></div>

        <Text variant="span" class="text-stone-400">
          {10}min
        </Text>
      </div>
    </div>

    <div class="bg-gray-100 w-full aspect-video overflow-hidden">
      <Image
        src={post.data.image.url}
        alt={post.data.image.alt}
        width={1024}
        height={384}
        class="w-full h-full object-cover"
      />
    </div>
  </div>

  <div class="pt-6 pb-16 md:pt-8 md:pb-20">
    <slot />

    <div class="py-12 md:py-16">
      <div class="w-28 mx-auto h-0.5 bg-stone-800"></div>
    </div>

    <div>
      <Text
        variant="h4"
        class="text-sm uppercase text-stone-100 tracking pb-4 block font-medium"
      >
        Find me on
      </Text>
      <SocialLinks />
    </div>
  </div>
</BaseLayout>
