---
const PAGE_TITLE = "Open Source Contribution ";
import BaseLayout from "@/layouts/base-layout.astro";
import Text from "@/components/text.astro";

---

<BaseLayout title={PAGE_TITLE}>
  
  <a href="https://realdevsquad.com/" target="_blank"><img src="https://dashboard.realdevsquad.com/images/Real-Dev-Squad@1x.png" style="max-width: 10%;cursor: pointer;"> </a>
  <div class="max-w-screen-sm mx-auto py-8 sm:py-12 flex flex-col h-screen">
    <Text variant="h1" class="text-stone-100 pb-4">
      {PAGE_TITLE}
     <br/>
     <div style="font-size: 10px; color:blue;">
      <a href="https://members.realdevsquad.com/tejas" target="_blank">Click Here to Verify Below Details</a>
     </div>
     
    </Text>
    <Text>
      
    </Text>
    <iframe
      src="https://members.realdevsquad.com/tejas"
      class="w-full h-full flex-1"
    ></iframe>
  </div>
</BaseLayout>

